header{    
    position: sticky;
    top:0;
    left:0;
    z-index: 100;
}
header .top-header{
    padding: 0rem 10%;
    height: 20vh;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ccc;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-family: 'Monoton';
    font-size: 2rem;
}
header .logo-container{
    width:20%;
}
header .logo{
    width: 50%;
}

header .search-container{
    width: 60%;
    text-align: center;
    position: relative;
}
header .search-container input{
    width:100%;
    padding: 0.8rem 0.8rem;
    border: 2px solid #de752a92;
    border-radius: 10px;
    font-size: 0.9rem;
    font-family: 'Poppins';
}
header .search-container input:focus{
    border-style: none;
}
header .search-container .search-btn {
    background: white;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    font-size: 18px;
    padding: 8px 15px;
    color:rgb(92, 91, 91)
}

header .icons-container{
    text-align: right;
    width: 20%;
    margin-left: 150px;
}

.icons-container {
    display: flex;
    gap: 10px;
}
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-button svg {
    width: 24px;
    height: 24px;
}
        
header .fa-user, .fa-heart, .fa-bag-shopping{
    font-size: 1.4rem;
    margin-right: 0.8rem;
}

.main-nav{
    display: flex;
    justify-content: center;
    padding: 1rem 10%;
    background-color: white;
}
.main-nav a{
    text-decoration: none;
    margin-right: 2rem;
    display: inline-block;
    color: black;
    font-weight:600;
    text-transform: uppercase;
    font-size: 1rem;
}
.main-nav a:hover{
    color:orange
}

.main-nav .menu-men {
    display: inline-block;
    position: relative;
}
.submenu{
    display: none;
    position: absolute;
    top:1.5rem;
    left: -1rem;
    z-index: 10;
    background-color: white;
    padding: 1rem;
}
.menu-men:hover .submenu{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 1rem;   
}
.submenu a{
    display: block;
    text-decoration: none;
    padding: 5px 0;
    font-size: 0.9rem;
    font-weight: normal;
}
.submenu a:hover{
    text-decoration:underline;
}
.submenu img{
    width: 100%;
    border-radius: 1rem;
}
.photo-submenu{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select{
    padding: 0.4rem;
    font-size: 1.0rem;
    min-width: 200px;
}